@tailwind base;
@tailwind components;
@tailwind utilities;

/* css variables */
:root {
  /* --color-h: 202.04;
  --color-s: 80%;
  --color-l: 24%; */

  /* Coffee */
  /* --color-h: 25; */
  /* --color-s: 9%; */
  /* --color-l: 25%; */

  --hex: #3A3335;

  /* hex to hsl */
  /* --color-h: 110; */
  /* --color-s: 32%; */
  /* --color-l: 28%; */

  /* Purple */
  --color-h: 230;
  --color-s: 26%;
  --color-l: 34%;

  /* --color-h: 240;
  --color-s: 42%;
  --color-l: 15%; */

  /* Dark */
  /* --color-h: 0;
  --color-s: 0%;
  --color-l: 10%; */

  --bg: #171717; /* 900 */
  --primary: #27272a; /* 800 */
  --accent: #171717; /* same as bg */

  /* hsla(236.47,18%,19%,1) */
  /* --color-h: 236.47;
  --color-s: 18%;
  --color-l: 19%; */

  /* Test colors */
  --bg: var(--color-h), var(--color-s), var(--color-l); /* 900 */
  --primary: var(--color-h), calc(var(--color-s) - 2%), calc(var(--color-l) + 5%); /* 800 */
  --accent: var(--color-h), var(--color-s), var(--color-l); /* same as bg */
  --text: 255, 255, 255;
}

@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Abril Fatface'), url(./fonts//abril.woff2) format('woff2');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Noto Serif Bold'), url(./fonts//noto-serif.woff2) format('woff2');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Oswald'), url(./fonts//oswald.woff2) format('woff2');
}

@layer base {
  body {
    /* @apply bg-white dark:bg-gray-900 text-base; */
    @apply bg-white dark:bg-bg text-base;
  }

  input {
    @apply outline-none;
  }
}

.title {
  font-weight: 600;
  letter-spacing: -0.125rem;
  font-size: 68px;
  line-height: 64px;
  @apply font-medium dark:text-white text-center;
}

.title.small-title {
  font-size: 56px;
  line-height: 56px;
}

.subtitle {
  @apply text-gray-600 dark:text-font/50 text-2xl font-medium text-center;
}

/* title with fonts */

.serif #title {
  font-family: 'Noto Serif', serif;
  letter-spacing: 0rem;
}

.mono #title {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0rem;
}

.display #title {
  font-family: 'Abril Fatface';
  letter-spacing: 0.125rem;
}

/* font cards preview */

.serif.font-card {
  font-family: 'Noto Serif', serif;
}

.mono.font-card {
  font-family: 'Oswald', sans-serif;
}

.display.font-card {
  font-family: 'Abril Fatface';
}

/* width */
::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100 rounded-full;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-200 rounded-full;
}

.dark-scroll::-webkit-scrollbar-track {
  /* @apply bg-gray-800 rounded-full; */
  @apply bg-transparent;
}

.dark-scroll::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full;
}

.dark [type='checkbox']:checked {
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 16 16" fill="rgb(255,0,0)" xmlns="http://www.w3.org/2000/svg"><path d="M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z"/></svg>');
  @apply text-white !stroke-blue-400;
}

.flip-180 {
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

.task-input {
  /* @apply flex-auto text-[17px] bg-gray-100 dark:bg-gray-800 rounded-lg text-gray-700 px-3 py-2 placeholder-gray-400 dark:placeholder-gray-500 dark:caret-gray-400 dark:text-gray-300; */
  @apply flex-auto text-[17px] bg-gray-100 dark:bg-primary rounded-lg text-gray-700 px-3 py-2 placeholder-gray-400 dark:placeholder-font dark:caret-white dark:text-white;
}